        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: url('arkaplan.png') no-repeat center center/cover;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow: hidden;
        }

        .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        }
        
        .heart {
            position: absolute;
            width: 20px;
            height: 20px;
            background: red;
            transform: rotate(45deg);
            animation: fly 1.5s ease-out forwards;
        }

        .heart::before,
        .heart::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
        }

        .heart::before {
            top: -10px;
            left: 0;
        }

        .heart::after {
            left: -10px;
            top: 0;
        }

        @keyframes fly {
            0% {
                opacity: 1;
                transform: rotate(45deg) translate(0, 0);
            }
            100% {
                opacity: 0;
                transform: rotate(45deg) translate(0, -200px);
            }
        }

        @media (max-width: 576px) {
            h1 {
                font-size: 1.4rem;
            }
        }