body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('coffee.jpg') bottom center / auto no-repeat fixed;
    background-size: cover;
    color: #000000;
    text-align: center;
  }

  .container { 
    border-radius: 0%  0% 50% 50%;
    border-color: aquamarine;
    border-top-style: double;
    border-bottom-style: double;
    border-color: cadetblue; 
    margin: 0% auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background-color: hsla(1, 100%, 100%, 0.4); 
    padding: 5%;
  } 

  audio {   
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);  
    width: 200px;
    height: 25px;
  }
